<!DOCTYPE html>
<html>
  <head>
    <title>Amazon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <nav>
    <%= link_to "Home", root_path, {class:"nav"}%>
    |
    <%= link_to "About", about_path, {class:"nav"}%>
    |
    <%= link_to "Contact Us", contact_us_path, {class:"nav"}%>
    |
    <%= link_to "Create Product", new_product_path, {class:"nav"}%>
    |
    <%= link_to "All Products", products_path, {class:"nav"}%>
    |
     <% if user_signed_in? %>
    Hello <%= current_user.first_name %>,
    <%= link_to "Logout", session_path, method: :delete, data: {confirm: "are you sure you want to log out?"} %>
        <% if current_user.is_admin? %>
         |
         <%= link_to 'Panel', admin_panel_path %>
       <% end %>
     <% else %>
    <%= link_to "Login", new_session_path %>
    |
    <%= link_to "Sign Up", new_user_path %>
    <% end %>
    <hr>
  </nav>
    <%= yield %>
  </body>
</html>
